/* About page styles */
.About-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
a:visited {
    color: #3498db;
}

.About-website {
    text-align: center;
    max-width: 600px;
}

.About-website-header {
    color: #2e3a4e;
    font-size: 32px;
    margin-bottom: 10px;
}

.About-website p, a {
    color: #6b7a99;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
}

.About-developers {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    width: 100%;
}

/* Developer card styles */
.About-developer-Zeyad,
.About-developer-Anas,
.About-developer-Faisal {
    text-align: center;
}

.Zeyad,
.Anas,
.Faisal {
    color: #2e3a4e;
    font-size: 24px;
    margin-bottom: 10px;
}

.linkedin {
    color: #3498db;
    text-decoration: none;
    font-size: 16px;
    display: block;
    margin-top: 10px;
}

.linkedin:hover {
    text-decoration: underline;
}
